//font family
$font-family-primary: 'Quicksand', sans-serif;

//breakpoints
$media-tablet: 768px;
$media-desktop: 1200px;
$media-desktop-full: 1400px;

//radius
$border-radius: 10px;
// $btn-border-radius: 50px;

//bg colors
$red: #b5303a;
$blue-primary: #00647a;
$blue-secondary: #c0f4ff;
$gold-primary: #cab972;
$gold-secondary: #fffbe9;
//vidi ove dve poslednje, nesto su ti iste, bar deluju tako
$grey-primary: #f3f6f9;

//text colors
$text-color-dark-primary: #1e1e1e;
$text-color-dark-secondary: #404040;
$text-color-light: #fff;
